.back-ground {
    background-color: #8cb1d7;
    height: 300px;
    padding-top: 100px;
}

.holder-2 {
    background-color: white;
    border-style: solid;
    border-color: #8cb1d7;
    margin-bottom: 100px;
}

.title {
    display: inline-block;
    color: #ededed;
    background-color: #8cb1d7;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    margin: 10px 0px 10px 0px;
    padding: 5px 15px 5px 15px;
}

.currency-choice {
    width:;
    justify-content: center;
}

.chart-title {
    background-color: #ededed;
    margin-left: 15px;
    margin-right: 15px;
}

.inputNumber {
    justify-content: center;
    width: 100%;
    margin-left: ;
}